/* defining characteristics of header 1 */ h1{
  font-size:20px;
  color:black;
}
/* defining characteristics of header 3 */ h3{
  font-size:16px;
  color:black;
}
/* defining characteristics fo links */ a{
  font-size:14px;
  color:blue;
}